html
  head
    title= section
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    
  body
    h2.m-5= `${section.toUpperCase()}`
    form.m-5(action='/feedback', method='POST')
      input(name='section', value=section, style='display: none')
      .form-group
        textarea.form-control(name='text', placeholder='Leave your feedback...', type='text', maxlength='500')
      .form-group
        button.btn.btn-primary.justify-content-center(type='submit') Submit
